$fontmain: 'Open Sans', sans-serif

@media ( max-width: 1000px )

    body
        width: 100%
    
    .nav
        display: none

        &__mobile

            background-color: #111
            width: 100%
            padding: 0.5% 5%

            display: flex
            align-items: center
            justify-content: space-between

            &-burger
                cursor: pointer
                display: flex
                flex-direction: column
                justify-content: center
                transition: box-shadow 0.3s ease
                z-index: 3
            &-burgeractive
                box-shadow: none

            &-burgeractive div
                transition: all 0.3s ease

            &-burgeractive div:nth-child(1)
                transform: translateY(10px) rotate(45deg)

            &-burgeractive div:nth-child(2)
                opacity: 0
            
            &-burgeractive div:nth-child(3)
                transform: translateY(-5px) rotate(-45deg)
                width: 50px

            &-burger div
                position: relative
                background-color: #ea7f1d
                text-align: left
                margin-bottom: 5px

    .burger-1
        width: 50px
        height: 3px

    .burger-2
        width: 40px
        height: 3px
    
    .burger-3
        width: 30px
        height: 3px
    
    .round
        border-radius: 50%
        border: 3px solid #ea7f1d

    .switch1
        padding-left: 10%


    .main
        padding: 0 0
        background-color: #e8e8e8
        padding-bottom: 30em

        &__twoblock
            display: none

    .photo__inner
        margin: 5% auto

    .photo__change
        margin: 0 auto
    
    .photo__name
        width: 100%
    
    .structure
        width: 80%
        margin: 5% auto

    .info
        margin: 0 auto
        width: 100%
        background-color: #e8e8e8

        &__title
            margin: 7% auto

            &-last
                margin-bottom: 15%

        &__title h1
            text-align: center
            font-weight: 400

        &__status
            display: block
            margin: 4% 1%

            &-money
                margin-top: 5%

        &__notification
            margin: 1%
            font-size: 14px

            &-status
                margin:0
                padding:0

            &-status p
                text-align: center

        &__growth
            margin: 0 auto

        &__table

            &-mobile
                display: flex
                flex-direction: column
            &-item
                display: flex
                flex-direction: column
            &-item p
                margin: 2% 3%
            &-item input
                margin: 2% 3%
                border: 1px solid #cdcdcd
                background-color: #f6f7f9
                padding: 3%

        &__banks
            grid-template-columns: 100%
            justify-items: center
            justify-content: center
        &__lots
            grid-template-columns: 100%
            justify-items: center
            justify-content: center
        &__lots div
            margin: 4%

        &__password
            margin: 0 auto
            width: 30%

        &__giftstat
            justify-content: center

        &__profile-active
            text-align: center

        &__structure-item
            justify-content: center
        &__structure-placeholder
            width: 50%

        &__slider-description
            flex-direction: column
            
        &__calculator-last
            flex-direction: column

        &__calculator-result
            margin: 0 auto
            text-align: center

        &__calculator-picture p
            text-align: center

        &__calculator-pictureslider
            margin-top: 5%

        &__goods
            grid-template-columns: 50% 50%
            justify-content: center
        &__goods-item
            padding: 5%
            border: 1px solid #ea7f1d
            margin: 5%
        
        
    .info__hr
        width: 100%
        margin: 0
        height: 2px
        background-color: white

    .verification__first
        flex-direction: column

    .verification__buttons
        flex-direction: column

    .verification__first-item input
        padding: 3%

    .cabinet-title
        justify-content: center
    
    .info__verify img
        margin-right: 2%
        margin-left: 2%

    .hr__password
        display: none

    .photo__passwords
        display: block

    .photo__change-password
        margin: 0
        justify-content: center

    .notification-gift
        margin: 6% 1%

    .verify__profile
        margin: 5% 2%


    .burgers
        position: absolute
        width: 100%
        height: 100%
        top: 10%
        left: 0
        z-index: 100
        transition: all .5s ease 0s
        visibility: hidden
        opacity: 0


        &__list
            font:
                size: 20px
                weight: 700
            
        &__list li
            padding: 20px 0
            border-bottom: 1px solid #ef7f1a
            text-align: center
            color: #fff
            background-color: #111

        &__item a
            color: white
            
    .burgersactive
        transition: all .5s ease 0s
        visibility: visible
        opacity: 1
        transform: translate(0,0)

$var1: #ef7f1a
$var2: #ffffff
.header__language 
        width: 60px
        border: 2px solid #ef7f1a
        border-radius: 10px
        color: #ffffff
        text-align: center
        a 
            color: #ffffff
        
        &::before 
            content: ''
            background-repeat: no-repeat
            background-size: cover
            width: 18px
            height: 10px
            top: 10px
            left: 15%
        position: absolute
        background-color: #111
        

.language-header.active::before 
        transform: rotate(-180deg)
        top: 10px

.language-header 
        cursor: pointer
        top: -50%
        left: 100%
        li 
            text-align: center
            padding: 8px 0px 6px 0
            font-size: 21px
            a 
                color: #ffffff
            
        
        &__eng, &__kz, &__tgk, &__turkish, &__us, &__uzbek 
            display: none
            &.active 
                display: block
            
.header__login
    position: absolute
    top: 1%
    left: 69%

.language-header__eng,
.language-header__kz,
.language-header__tgk,
.language-header__turkish,
.language-header__us,
.language-header__uzbek 
    display: none


.language-header__eng.active,
.language-header__kz.active,
.language-header__tgk.active,
.language-header__turkish.active,
.language-header__us.active,
.language-header__uzbek.active 
    display: block




@media (width: 320px ) 
    
    .info
        &__goods-item
                padding: 1%