$fontmain: 'Open Sans', sans-serif

@media ( max-width: 1000px )

    body
        width: 100%
    
    .nav
        display: none

        &__mobile

            background-color: #111
            width: 100%
            padding: 0.5% 5%

            display: flex
            align-items: center
            justify-content: space-between

            &-switch
                border: 2px solid #ea7f1d
                border-radius: 15px
                width: 20%

                display: flex
                align-items: center
                justify-content: space-between

            &-burger
                cursor: pointer
                display: flex
                flex-direction: column
                justify-content: center

            &-burger div
                position: relative
                background-color: #ea7f1d
                text-align: left
                margin-bottom: 5px

    .burger-1
        width: 50px
        height: 3px

    .burger-2
        width: 40px
        height: 3px
    
    .burger-3
        width: 30px
        height: 3px
    
    .round
        border-radius: 50%
        border: 3px solid #ea7f1d

    .switch1
        padding-left: 10%

    .switch2
        padding-right: 12%


    .main
        padding: 0 0
        background-color: #e8e8e8
        padding-bottom: 30em

        &__twoblock
            display: none

    .photo__inner
        margin: 5% auto

    .photo__change
        margin: 0 auto
    
    .photo__name
        width: 100%
    
    .structure
        width: 80%
        margin: 5% auto

    .info
        margin: 0 auto
        width: 100%
        background-color: #e8e8e8

        &__title
            margin: 7% auto

            &-last
                margin-bottom: 15%

        &__title h1
            text-align: center
            font-weight: 400

        &__status
            display: block
            margin: 4% 1%

            &-money
                margin-top: 5%

        &__notification
            margin: 1%
            font-size: 14px

            &-status
                margin:0
                padding:0

            &-status p
                text-align: center

        &__growth
            margin: 0 auto

        &__table
            display: none

            &-mobile
                display: flex
                flex-direction: column
            &-item
                display: flex
                flex-direction: column
            &-item p
                margin: 2% 3%
            &-item input
                margin: 2% 3%
                border: 1px solid #cdcdcd
                background-color: #f6f7f9
                padding: 3%

        &__banks
            grid-template-columns: 100%
            justify-items: center
            justify-content: center
        &__lots
            grid-template-columns: 100%
            justify-items: center
            justify-content: center
        &__lots div
            margin: 4%

        &__password
            margin: 0 auto
            width: 30%

        &__giftstat
            justify-content: center

        &__profile-active
            text-align: center
            

        
        
        
    .info__hr
        width: 100%
        margin: 0
        height: 2px
        background-color: white

    .verification__first
        flex-direction: column

    .verification__buttons
        flex-direction: column

    .verification__first-item input
        padding: 3%

    .cabinet-title
        justify-content: center
    
    .info__verify img
        margin-right: 2%
        margin-left: 2%

    .hr__password
        display: none

    .photo__passwords
        display: block

    .photo__change-password
        margin: 0
        justify-content: center

    .notification-gift
        margin: 6% 1%

    .verify__profile
        margin: 5% 2%



@media (width: 320px ) 