@media (max-width: 1000px) {
  body {
    width: 100%;
  }

  .nav {
    display: none;
  }
  .nav__mobile {
    background-color: #111;
    width: 100%;
    padding: 0.5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__mobile-switch {
    border: 2px solid #ea7f1d;
    border-radius: 15px;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__mobile-burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 0.3s ease;
    z-index: 3;
  }
  .nav__mobile-burgeractive {
    box-shadow: none;
  }
  .nav__mobile-burgeractive div {
    transition: all 0.3s ease;
  }
  .nav__mobile-burgeractive div:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .nav__mobile-burgeractive div:nth-child(2) {
    opacity: 0;
  }
  .nav__mobile-burgeractive div:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
    width: 50px;
  }
  .nav__mobile-burger div {
    position: relative;
    background-color: #ea7f1d;
    text-align: left;
    margin-bottom: 5px;
  }

  .burger-1 {
    width: 50px;
    height: 3px;
  }

  .burger-2 {
    width: 40px;
    height: 3px;
  }

  .burger-3 {
    width: 30px;
    height: 3px;
  }

  .round {
    border-radius: 50%;
    border: 3px solid #ea7f1d;
  }

  .switch1 {
    padding-left: 10%;
  }

  .main {
    padding: 0 0;
    background-color: #e8e8e8;
    padding-bottom: 30em;
  }
  .main__twoblock {
    display: none;
  }

  .photo__inner {
    margin: 5% auto;
  }

  .photo__change {
    margin: 0 auto;
  }

  .photo__name {
    width: 100%;
  }

  .structure {
    width: 80%;
    margin: 5% auto;
  }

  .info {
    margin: 0 auto;
    width: 100%;
    background-color: #e8e8e8;
  }
  .info__title {
    margin: 7% auto;
  }
  .info__title-last {
    margin-bottom: 15%;
  }
  .info__title h1 {
    text-align: center;
    font-weight: 400;
  }
  .info__status {
    display: block;
    margin: 4% 1%;
  }
  .info__status-money {
    margin-top: 5%;
  }
  .info__notification {
    margin: 1%;
    font-size: 14px;
  }
  .info__notification-status {
    margin: 0;
    padding: 0;
  }
  .info__notification-status p {
    text-align: center;
  }
  .info__growth {
    margin: 0 auto;
  }
  .info__table-mobile {
    display: flex;
    flex-direction: column;
  }
  .info__table-item {
    display: flex;
    flex-direction: column;
  }
  .info__table-item p {
    margin: 2% 3%;
  }
  .info__table-item input {
    margin: 2% 3%;
    border: 1px solid #cdcdcd;
    background-color: #f6f7f9;
    padding: 3%;
  }
  .info__banks {
    grid-template-columns: 100%;
    justify-items: center;
    justify-content: center;
  }
  .info__lots {
    grid-template-columns: 100%;
    justify-items: center;
    justify-content: center;
  }
  .info__lots div {
    margin: 4%;
  }
  .info__password {
    margin: 0 auto;
    width: 30%;
  }
  .info__giftstat {
    justify-content: center;
  }
  .info__profile-active {
    text-align: center;
  }
  .info__structure-item {
    justify-content: center;
  }
  .info__structure-placeholder {
    width: 50%;
  }
  .info__slider-description {
    flex-direction: column;
  }
  .info__calculator-last {
    flex-direction: column;
  }
  .info__calculator-result {
    margin: 0 auto;
    text-align: center;
  }
  .info__calculator-picture p {
    text-align: center;
  }
  .info__calculator-pictureslider {
    margin-top: 5%;
  }
  .info__goods {
    grid-template-columns: 50%;
    justify-content: center;
  }

  .info__hr {
    width: 100%;
    margin: 0;
    height: 2px;
    background-color: white;
  }

  .verification__first {
    flex-direction: column;
  }

  .verification__buttons {
    flex-direction: column;
  }

  .verification__first-item input {
    padding: 3%;
  }

  .cabinet-title {
    justify-content: center;
  }

  .info__verify img {
    margin-right: 2%;
    margin-left: 2%;
  }

  .hr__password {
    display: none;
  }

  .photo__passwords {
    display: block;
  }

  .photo__change-password {
    margin: 0;
    justify-content: center;
  }

  .notification-gift {
    margin: 6% 1%;
  }

  .verify__profile {
    margin: 5% 2%;
  }

  .burgers {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    z-index: 100;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    opacity: 0;
  }
  .burgers__list {
    font-size: 20px;
    font-weight: 700;
  }
  .burgers__list li {
    padding: 20px 0;
    border-bottom: 1px solid #ef7f1a;
    text-align: center;
    color: #fff;
    background-color: #111;
  }
  .burgers__item a {
    color: white;
  }

  .burgersactive {
    transition: all 0.5s ease 0s;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=mobile.css.map */
