.nav
    background-color: #111
    width: 100%

    display: flex
    justify-content: space-between
    align-items: center

    &__list
        display: flex
        margin-right: 43em

        &-item
            color: #fff
            margin: 2% 8%


        &-active
            color: orange
    
    &__logo
        margin: 2% 0

    